.banner {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

.lbanner {
  height: 100%;
  width: 30%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rbanner {
  height: 100%;
  width: 30%;
  /* border: 2px solid blue; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  margin: 0;
}

.rbanner img {
  margin-left: 17%;
  height: 90%;
  width: 70%;
  /* object-fit: cover; */
}
.bannertext {
  height: 100%;
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* color: rgb(246, 244, 244); */
}

.content {
display: flex;
flex-direction: column;
width: 100%;
height: auto;
align-items:center;
justify-content: center;
margin-top: 30px;
/* border: 2px solid blue; */
}
.cards{
display: flex;
width: 60%;
flex-wrap: wrap;
justify-content: space-around;
}