.screen {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selctType {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.selctType div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 75%;
}

.head {
  height: 500px;
  display: flex;
  width: 98%;
  margin-left: 2%;
  margin-top: 10px;
  /* border: 1px solid red; */
}

.video {
  width: 60%;
  /* border: 1px solid blue; */
}

.bar{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* border: 1px solid rgb(10, 208, 83); */
    margin-top: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  width: 90%;
}

.glass {
  background: rgba(36, 30, 22, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cBox {
  height: 30%;
  width: 30%;
  border-radius: 10px;
  /* background-color: rgb(249, 90, 90); */
}

.Box {
  height: auto;
  width: auto;
  /* background-color: rgb(249, 90, 90); */
  border-radius: 10px;
}
