.screen {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.selctType {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selctType div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.head {
  height: 670px;
  display: flex;
  width: 100%;
  /* margin-left: 2%; */
  margin-top: 10px;
  /* border: 1px solid red; */
  justify-content: space-around;
  /* border: 1px solid red; */
}

.video {
  height: 650px;
  width: 55%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.mvideo {
  height: 350px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar {
  height: 100%;
  width: 38%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  /* border: 1px solid rgb(10, 208, 83); */
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-top: 0%;
  width: 90%;
}

.glass {
  background: rgba(36, 30, 22, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.cBox {
  height: 30%;
  width: 30%;
  border-radius: 10px;
  /* background-color: rgb(249, 90, 90); */
}

.Box {
  height: auto;
  width: auto;
  /* background-color: rgb(249, 90, 90); */
  border-radius: 10px;
}


.icon{
opacity: .5;
}

.icon:hover{
  /* transform: rotate(330deg);
  */
  opacity: 1;
  transform: translateY(-50%);
  box-shadow: 0 1px 2px rgba(86, 86, 198, 0.3);
}